body{
    background-color: #E2CEB1;
}
.navbar {
  background-color: #E2CEB1 !important;
  font-size: 1.2rem;
  border-bottom: 2px solid #000000;
}
p {
  color: #1c2e4a;
}
.navbar .navbar-brand,
.navbar .nav-link,
.navbar .navbar-toggler {
  color: #1c2e4a !important;
}

#cookingtitle{
    color: #001f3f;
}
#current-tech-heading{
  text-align: center;
  margin-top: 50px;
  color: #001f3f;
}
#apps{
  text-align:center;
  margin-top: 60px;
  color: #001f3f;
}
#whisk{
  width: 400px;
  margin-left: 50px;
}
.image-text{
  display: flex;
  align-items:center;
  gap: 10px;
}
.image-text img{
  width: 80px;
}
.app-item{
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 35px;
}


